@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  background: radial-gradient(circle at right center,#4b296980,#563277,#4a378c 50%,#4066a8 70%,#32517380);
  -webkit-mask-image: radial-gradient(ellipse 80% 40% at center center,#000 20%,#00000080 50%,#0000);
  mask-image: radial-gradient(ellipse 80% 40% at center center,#000 20%,#00000080 50%,#0000);
}